# Local backups
*~
*\#

# Pre-Orgmode versions of my resume are preserved here.
# They don't need to be backed up on Github or made public facing.
deprecated/*

# Actual application documents are to be kept private,
# not back up on Github.
applications/*

# Other files not for backup (such as family member's resumes which they may not want visible here)
# can be placed in this hidden directory.
private/*

# LaTeX artifacts
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.out

# For this repo, we're also not interested in the raw LaTeX, only the finished product
*.tex